
if errors 
	each error in errors
		div(class="alert alert-danger alert-dismissible fade show" role="alert")
			strong Error: 
				| #{error}
			button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")

if successes
	each success in successes
		div(class="alert alert-success alert-dismissible fade show" role="alert")
			strong Success: 
				| #{success}
			button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
