
nav(class="navbar sticky-top navbar-expand-md bg-dark navbar-dark")
	div(class="container")
		a(class="navbar-brand" href="/") Node.js (Express), To-do List App
		button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
		
		div(class="collapse navbar-collapse" id="navbarSupportedContent")
			ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
				li(class="nav-item")
					a(class="nav-link" aria-current="page" href="/") Home
					
				li(class="nav-item")
					a(class="nav-link" href="/todo") To-do list
				
				li(class="nav-item")
					a(class="nav-link" href="/reset") Reset app
				
				if isUserAuthenticated
					li(class="nav-item dropdown")
						a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Welcome #{username}
						ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
							li
								a(class="dropdown-item" href="./logout") Logout
				else
					li(class="nav-item")
						a(class="nav-link" href="/auth") Login
