
extends ./baseLayout.pug


block content 
	h1 To-do list has been reset
	
	p To-do list has been successfully reset and all items and users have been deleted. 
		a(href="/") Go back to the homepage.
